<form [formGroup]="form" (ngSubmit)="onSubmit(form, $event)">
  <mat-card>
    <mat-card-header>
      <mat-card-title>注册：</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="" class="full-width">
        <input
          matInput
          type="text"
          placeholder="您的Email"
          formControlName="email"
        />
      </mat-form-field>
      <mat-form-field appearance="" class="full-width">
        <input
          matInput
          type="text"
          placeholder="您的姓名"
          formControlName="name"
        />
      </mat-form-field>
      <mat-form-field appearance="" class="full-width">
        <input
          matInput
          type="password"
          placeholder="您的密码"
          autocomplete="current-password"
          formControlName="password"
        />
      </mat-form-field>
      <mat-form-field appearance="" class="full-width">
        <input
          matInput
          type="password"
          placeholder="重新输入您的密码"
          autocomplete="current-password"
          formControlName="repeat"
        /> </mat-form-field
      ><app-image-list-select
        [cols]="6"
        [title]="'选择头像'"
        [items]="items"
        [selected]=""
        [useSvgIcon]="true"
        formControlName="avatar"
      >
      </app-image-list-select>
      <!-- 
      <mat-grid-list cols="6" rowHeight="1:1">
        <mat-grid-tile
          *ngFor="let item of items"
        ><mat-icon class="avatar" [svgIcon]="item"></mat-icon>
        </mat-grid-tile>
      </mat-grid-list> -->
      <app-age-input 
      formControlName="dateOfBirth"></app-age-input>
      <button mat-raised-button type="submit" color="primary">注册</button>
    </mat-card-content>
    <mat-card-actions >
      <p>还没有注册账号？<a href="http://">登录</a></p>
      <p>忘记密码？<a href="http://">找回</a></p>
    </mat-card-actions>
  </mat-card>
</form>
