.card {
  flex: 0 0 360px;
  margin: 10px;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: warp;
}
.fab-button {
  position: fixed;
  right: 32px;
  bottom: 96px;
  z-index: 998;
}
