<form action="">
  <h2 mat-dialog-title>{{ title }}</h2>
  <div mat-dialog-content>
    <mat-form-field appearance="" class="full-width">
      <input matInput type="text" placeholder="任务内容" />
    </mat-form-field>
    <mat-radio-group>
      <mat-radio-button
        *ngFor="let prioritie of priorities"
        [value]="prioritie.value"
        >{{ prioritie.label }}</mat-radio-button
      >
    </mat-radio-group>
    <mat-form-field class="full-width">
      <input
        matInput
        [matDatepicker]="dueDatepicker"
        placeholder="任务截止日期"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="dueDatepicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #dueDatepicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input
        matInput
        [matDatepicker]="reminderDatepicker"
        placeholder="提醒日期"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="reminderDatepicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #reminderDatepicker></mat-datepicker>
    </mat-form-field>

    <!-- <mat-form-field appearance="" class="full-width">
      <textarea matInput type="text" placeholder="备注" />
    </mat-form-field> -->
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button type="button" color="primary" (click)="onClick()">
      保存
    </button>
    <button mat-button type="button" mat-dialog-close>关闭</button>
  </div>
</form>
