<form action="">
  <mat-card>
    <mat-card-header>
      <mat-card-title>登录：</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="" class="full-width">
        <input matInput type="text" placeholder="您的Email" />
      </mat-form-field>
      <mat-form-field appearance="" class="full-width">
        <input
          matInput
          type="password"
          placeholder="您的密码"
          autocomplete="current-password"
        />
      </mat-form-field>
      <button mat-raised-button type="button" color="primary">登录</button>
    </mat-card-content>
    <mat-card-actions class="text-right">
      <p>还没有注册账号？<a [routerLink]="['/register']">注册</a></p>
      <p>忘记密码？<a href="http://">找回</a></p>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>每日佳句</mat-card-title>
      <mat-card-subtitle
        >网球内心游戏：高峰表现心理方面的经典指南</mat-card-subtitle
      >
    </mat-card-header>
    <img mat-card-image src="/assets/KmTCFx8WwuseQxEn9.jpg" alt="" />
    <mat-card-content
      >The Inner Game of Tennis: The Classic Guide to the Mental Side of Peak
      Performance</mat-card-content
    >
  </mat-card>
</form>
